*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 235, 205, 0.746);
}
.submit{
    background: rgba(235, 102, 41, 0.637);
    margin: 10px 0px 10px 30px;
    border-radius: 20% 0% 20% 0% / 50% 50% 50% 50% ;
    width: 80px;
    height: 30px;
}
.submit a{
      text-decoration: none;
      color: black;
      padding-left: 10px;
      margin-top: 10px;
}
.right-nav{
    display: flex;
}
.nav-top ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 40px;
    margin: 10px -48px ;
}
.list img{
    width: 30px;   
}
.ham-div{
    width: 40px;
    margin:10px 20px;
}
.ham-icon{
width: 2rem;
display: none
}
main{
    background-color: rgba(255, 235, 205, 0.746);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}
.first-img-div{
      background-color: blueviolet;
      margin:0 30px -4.5px 30px;
}
.first-img{
    width: calc(100vw - 60px);
    /* min-height: 50vh; */
}
.carts{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow:  wrap;
    gap: 60px;
    /* grid-template: 55% 45% /20% 20% 20% 20%  ; */
    /* justify-content: space-evenly; */
    background-color: #fff;
    margin: 0px 30px;
    padding: 60px 25px 120px 25px;
}
.cart{
    width: 200px;
}
figure{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    border: solid;
    text-align: center;
    min-height: 378px;
}
.footer div{
    background-color:  rgba(205, 231, 255, 0.746);
}
@media (max-width:480px) {
    .ham-icon{
        display: block;
    }
   .nav-top ul{
       display: none;
   }
}
@media (max-width:320px){
    .first-img-div{
        display: none;
    }
}