*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 235, 205, 0.911);
}
.submit{
    /* background: rgba(243, 202, 183, 0.637); */
    margin: 10px 0px 10px 3rem;
    border-style: solid none none solid;
    border-color: rgba(248, 166, 111, 0.466);
    border-radius: 20% 0% 20% 0% / 50% 50% 50% 50% ;
    width: 90px;
    height: 40px;
    /* box-shadow: -8px -8px 5px white,
    5px 5px 10px rgb(233, 167, 122); */
        box-shadow: 5px 5px 10px rgb(233, 167, 122),
    -5px -5px 4px white;

    /* box-shadow: 
    0px 0px 0px 5px rgb(245, 225, 225),
    8px 8px 15px rgb(223, 154, 154),
    -8px -8px 5px white; */
}
.submit a{
      text-decoration: none;
      color: black;
      font-family: 'Outfit', sans-serif;
      padding-left: 10px;
      margin-top: 10px;
}
.right-nav{
    display: flex;
}
.nav-top ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 40px;
    margin: 10px -35px ;
}
.list img{
    width: 45px;  
    box-shadow: 5px 5px 10px rgb(233, 167, 122),
    -5px -5px 5px white;
    border-radius: 50%; 
}
.ham-div{
    width: 40px;
    margin:10px 20px;
}
.ham-icon{
width: 2rem;
display: none
}
main{
    background-color: rgba(255, 235, 205, 0.911);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}
.first-img-div{
      background-color: blueviolet;
      margin:  0  3.5rem -1rem 3.5rem;
}
.first-img{
    width: calc(100vw - 7rem);
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: auto;
    gap: 30px;
    background-color: #fff;
    margin: 0px 3.5rem;
    padding: 60px 25px 120px 25px;
    width: calc(100vw - 7rem);
}
.card-image{
    width: 70%;
}
.card{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    /* border: solid; */

    border-radius: 1% ;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    min-height: 470px;
    /* padding: 20px; */
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1),
    -2px -5px 25px  #9b9999;
}
footer {
    background-color:  rgba(255, 235, 205, 0.746);
    display: flex;
    flex-flow:row wrap;
    font-family: 'Outfit', sans-serif;
}
.about-us{
    width: 600px;
}
@media (max-width:480px) {
    .ham-icon{
        display: block;
    }
   .nav-top ul{
       display: none;
   }
   .first-img-div{
        display: none;
}